/*
Theme Name: MCGI Theme
Author: Eric Locop
Author URI: https://ejlocop.github.io
Description: Theme for Magnus Consulting Group Inc.
Version: 1.0.0
Tags: accounting, tax, constulting
Template: base-theme
*/