.flipper {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
						
    li {
        position: relative;

        &:not(:last-child) {
            padding-right: 15px;
            
            &::after {
                content: "";
                border-right: 1px solid $primary;
                height: 60%;
                position: absolute;
                top: 50%;
                right: 7px;
                transform: translateY(-50%);
            }
        }

        &:horizontal {
            text-decoration: none;
        }

        a {
            color: inherit;
            cursor: pointer;
            transition: border-bottom $transition-duration-fast linear;

            &:hover,
            &:active,
            &:focus,
            &.active {
                text-decoration: none;
                border-bottom: 1px solid $border-line-color;
            }
        }
    }
}