// Eye Catching
@font-face {
	font-family: "EyeCatching-Regular";
	src: url("../fonts/Eye-Catching-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

// Roboto
@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Medium";
	src: url("../fonts/Roboto-Medium.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto-MediumItalic";
	src: url("../fonts/Roboto-MediumItalic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto-BoldItalic";
	src: url("../fonts/Roboto-BoldItalic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/Roboto-Thin.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto-ThinItalic";
	src: url("../fonts/Roboto-ThinItalic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Italic";
	src: url("../fonts/Roboto-Italic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto-LightItalic";
	src: url("../fonts/Roboto-LightItalic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Black";
	src: url("../fonts/Roboto-Black.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto-BlackItalic";
	src: url("../fonts/Roboto-BlackItalic.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Circular Std Book
@font-face {
	font-family: "Circular-Std-Book";
	src: url("../fonts/Circular-Std-Book.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}