#display-home--map {
	.section {
		&__container {
			padding: 0px;
		}
	}
	.column {
		&__content {
			> p {
				margin-bottom: -10px;
			}
		}
	}

	.block-map__map {
		height: 600px;
	}
	.gm-style {
		.gm-style-iw-d {
			overflow: hidden!important;
		}
		.gm-style-iw-c {
			padding: 5px!important;
		}
	}

	.gm-ui-hover-effect {
		display: none!important;
	}
}
#display-home--banner {
	.section {
		&-inner {
			@media (max-width: $screen-sm) {
				height: 300px !important;
			}
		}
	}
}
.section-slider-gallery {
	.section {
		&__container {
			padding-right: 15px;
			padding-left: 15px;

			@media (min-width: $screen-sm) {
				padding-right: $container-padding;
				padding-left: $container-padding;
			}
		}

		&__action {
			margin-top: 65px;

			&__btn {

				@media (min-width: $screen-sm) {
					padding: 12px 40px !important;
				}

			}
		}
	}
	.slider {
		position: relative;

		&__controls {
			justify-content: space-between;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			width: 100%;
			padding: 0 10px;
			margin: 0px;

			@media (min-width: $screen-sm) {
				padding: 0 25px;
			}

			> a {
				border: 2px solid $button-text-color;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				appearance: none;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
				background-color: $button-default-bg-color;
				color: $button-text-color;

				> .fa {
					display: none;
				}

				&::before {
					content: "";
					display: block;
					width: 12px;
					height: 12px;
					position: absolute;
					top: 50%;
				}

				&.slider__controls__prev::before {
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;
					transform: translate(10%,-50%) rotate(45deg)
				}
				&.slider__controls__next::before {
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
					transform: translate(-24%,-50%) rotate(45deg);
				}
			}
		}
		&__item {
			&__content {
				height: 300px;

				@media (min-width: $screen-sm) {
					height: 75vh;
				}
			}
			&__column {
				&__item {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


#display-home--location {
	.column {
		&:first-child {
			.column {
				&__content {
					display: flex;
    				height: 100%;

					> p {
						height: 100%;
						width: 100%;
					}
					img {
						object-fit: cover;
						height: 100%;
					}
				}
			}
		}

		&:nth-child(2) {
			background-color: transparent;

			@media (min-width: $screen-lg) {
				padding: 0px 120px;
			}
		}
	}

	.section {
		&__action {
			margin-top: 20px;

			&__btn {
				@media (min-width: $screen-sm) {
					padding: 12px 60px;
				}
			}
		}
	}

	.content-item {
		margin-bottom: 25px;

		* {
			font-size: 16px;
		}

		p {
			margin-bottom: 0px;
		}
		
		&.\--address {
			a {
				text-decoration: underline;
			}
		}
		&__heading {
			margin-bottom: 0px;

			strong {
				font-family: $secondary-font-bold;
			}
		}

		.item {
			display: flex;
			justify-content: center;

			@media (min-width: $screen-sm) {
				justify-content: flex-start;
			}

			&__info {
				text-align: left;
				min-width: 200px;
			}

			&__label {
				text-align: left;
				min-width: 150px;
			}
		}
	}
}


.enquiry-form {
	.ginput_container_consent {
		display: flex;
		align-items: center;
		position: relative;
	}
	.gfield_consent_label {
		font-family: $secondary-font-regular;
		font-weight: normal;
		margin: 0px;
		margin-left: 10px;
	}

	.gfield_consent_description {
		padding-top: 10px;
		color: $primary-text-color !important;
		font-size: 14px !important;
	}
}