.section-faqs {
	.section {
		&__container {
			@media (min-width: $screen-md) {
				padding: 0px 10rem;
			}
		}
	}
	.tiles {
		&__item {
			border-bottom: 1px solid $primary-gray-color;
			// padding: 20px;

			&__heading {
				font-family: $secondary-font-medium;
				font-size: 1rem;
    			color: $primary-text-color;
				margin: 0px;
				position: relative;

				&:after {
					content: "";
					display: block;
					width: 12px;
					height: 12px;
					border-top: 2px solid #bfbfbf;
					border-right: 2px solid #bfbfbf;
					position: absolute;
					top: 50%;
					right: 8px;
					transform: translate(20%,-70%) rotate(135deg);
					transition: transform .35s ease;
				}
			}

			&__description {
				max-height: 0;
				overflow: hidden;
				pointer-events: none;
				transition: max-height .35s ease-in-out;
				position: relative;
				z-index: 1;

				&--inner {
					padding: 0px 20px 20px;
				}
			}

			&__content {
				cursor: text;
			}


			&__permalink {
				padding: 20px;
				display: block;
			}

			&.\--expanded {
				background-color: rgba(182, 196, 186, 0.2);
				transition: background-color 0.35s ease-in-out;

				.tiles {
					&__item {
						&__heading {
							&:after {
								transform: translate(20%,-15%) rotate(-45deg);
							}
						}
					}
				}
			}
		}
		
	}
}