#gallery--main-section {
	
    &__controls {    
        margin-top: 0;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);

        a {    
            border-radius: 50%;
            border: 2px solid #fff;
            color: #fff;
            background-color: $primary;
            height: 40px;
            width: 40px;
        }
    }

    .section {
        &-inner {
            overflow: hidden;
        }

        &__background {
            height: 100%;
           
            @media (min-width: $screen-md) {
                margin-top: 35%;
            }

            @media (min-width: $screen-lg) {
                margin-top: 30%;
            }

            @media (min-width: $screen-xl) {
                margin-top: 25%;
            }
        }

        &__container {
            &.container-fluid {
                @media (min-width: $screen-md) {
                    padding: 0px 6%;
                }
            }
        }
    }

    .tiles {
        &__item__thumbnail {
            @media (min-width: $screen-md) {
                height: 700px;

                &__img {
                    height: 100%;;
                    object-fit: cover;
                }
            }
        }
    }

    .slick {
        &-arrow {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 25px;
            z-index: 1;
            cursor: pointer;
            
            @media (min-width: $screen-md) {
                height: 40px;
                width: 40px;
            }

            &:not(.slick-disabled):hover {
                .bg {
                    fill: $light-primary;
                }
            }

            .arrow, .bg {
                transition: all $transition-duration-fast linear;
            }

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }

            &.slick-disabled {
                opacity: .7;
            }
        }
    }
}

#gallery--thumbnails {
    display: none;

    @media (min-width: $screen-md) {
        display: block;
    }
    
    .tiles__item-wrapper {
        cursor: pointer;
        margin-bottom: 60px;
        position: relative;
        opacity: .8;
        transition: opacity $transition-duration-fast linear;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 15px;
            width: calc(100% - 30px);
            height: 5px;
            background-color: $primary;
            opacity: 0;
            transition: opacity $transition-duration-fast linear;
        }

        &:hover,
        &.active {
            opacity: 1;

            &::after {
                opacity: 1;
            }
        }
    }
}