// Global

.error404  {
	&__section {
		.column__heading {
			font-size: 22px;
			color: $text-primary-color;
			font-family: $secondary-font-regular;
		}

		.column__content {
			@include heading-font;
			font-size: 20px;

			small {
				font-size: 13px;
				font-family: $secondary-font-regular;
			}
		}
	}
}

