// Global

.error404  {
	&__section {
		.column__heading {
			font-size: 22px;
			color: $text-primary-color;
			font-family: $secondary-font-regular;
		}

		.column__content {
			@include heading-font;
			font-size: 20px;

			small {
				font-size: 13px;
				font-family: $secondary-font-regular;
			}
		}
	}
}

// Banner Hero
.section-page_banner{
	@at-root {
		body.admin-bar {
			.section-page_banner {
				.section {
					&-inner {
						height: 300px;
						
						@media (min-width: $screen-xs) {
							height: 400px;
						}

						@media (min-width: $screen-sm) {
							height: 60vh;
						}
						
						@media (min-width: $screen-md) {
							height: calc(90vh - (#{$header-height} + #{$wp-admin-bar}));
						}

						@media (min-width: $screen-xxl) {
							height: calc(70vh - (#{$header-height} + #{$wp-admin-bar}));
						}
					}
				}	
			}
		}
	}
	.section {
		&-inner {
			height: 300px;

			@media (min-width: $screen-xs) {
				height: calc(60vh - 60px);
			}
			@media (min-width: $screen-sm) {
				height: 60vh;
			}
			@media (min-width: $screen-md) {
				height: calc(90vh - #{$header-height});
			}

			@media (min-width: $screen-xxl) {
				min-height: 500px;
			}

			@media (min-width: $screen-xxl) {
				height: calc(70vh - #{$header-height});
			}
		}
	}
}



#build--content {
	.column {
		&:nth-child(1) {
			.block-content {
				@media (min-width: $screen-md) {
					padding-right: 9rem;
				}
			}
		}

		&:nth-child(2) {
			@media (min-width: $screen-sm) {
				display: flex;
				align-items: center;
			}
		}
	}
}

// Section full content
.section-full-content {
	.columns {
		justify-content: center;
	}
	.column {
		&__content {
			h2, h3, h4, h5 {
				font-family: $secondary-font-regular;
			}

			h2 {
				font-size: 1.25rem;
				line-height: normal;

				@media (min-width: $screen-md) {
					padding-left: 6rem;
    				padding-right: 6rem;
				}
			}

			// @media (min-width: $screen-md) {
			// 	width: 55%;
			// 	margin: auto;
			// }

			// @media (min-width: $screen-lg) {
			// 	width: 65%;
			// }
		}
	}
}

// Section team
.section-team {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 12%;
				padding-left: 12%;
			}
		}
	}
	.tiles {
		&__item {
			display: flex;
			flex-direction: column;

			&-wrapper {

				@media (max-width: $screen-xs) {
					width: 100%;
				}
				&:not(:last-child) {
					@media (max-width: $screen-sm) {
						margin-bottom: 20px;
					}
				}
			}

			@media (min-width: $screen-md) {
    			flex-direction: row;
			}

			&__thumbnail {
				@media (min-width: $screen-md) {
					width: 40%;
				}
			}

			&__content {
				@media (min-width: $screen-md) {
					width: 60%;
					padding-left: 30px;
    				padding-right: 45px;
				}
			}

			&__heading {
				font-family: $secondary-font-bold;
				font-size: 19px;
				color: $brand-primary-color;
				line-height: 1.2;
				margin-top: 10px;

				@media (min-width: $screen-md) {
					margin-top: 0px;
				}

				span {
					font-family: $secondary-font-regular;
					font-size: 16px;
					color: $text-primary-color;
				}
			}

			&__description {
				p {
					// line-height: 1.325;
				}
			}
		}
	}
}

.section-full_width, .section-two_columns {
	.section  {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 45px;
				padding-left: 45px;
				// width: 100%;
			}

			@media (min-width: $screen-xl) {
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}

	&.content-center {
		.columns {
			justify-content: center;
		}
	}
}

.section-full-map {
	.section  {
		&__container {
			@media (min-width: $screen-sm) {
				padding: 0px;
				width: 100%;
			}
		}
	}

	.column {
		padding: 0px;

		.block-content {
			img {
				@media (max-width: $screen-sm) {
					// height: 350px;
					// object-fit: cover;
					// object-position: 60%;
				}
			}
		}
	}

	.block-content {
		p {
			margin: 0px;
		}
	}
}


.section-projects {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 12%;
				padding-left: 12%;
				// width: 100%;
				// padding-left: 15px;
				// padding-right: 15px;
			}
		}

		&__title {
			font-family: $secondary-font-bold;
			font-size: 20px;
			color: $primary-text-color !important;
		}

		&__intro {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				width: 200vw;
				height: 100%;
				left: -50%;
				background: rgba(182,196,186,0.20);
			}

			&__content {
				padding: 2rem 0px;

				@media (min-width: $screen-sm) {
					padding: 4rem 0px;
				}
			}
		}
	}
	.pagination {
		text-align: center;
	}

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	.tiles {
		&__item {
			display: flex;
			flex-direction: column;
			border: 1px solid $border-line-color;

			&-wrapper {
				padding: 0px;
				&:not(:last-child) {
					margin-bottom: 40px;

					@media (min-width: $screen-md) {
						margin-bottom: 50px;
					}
				}
			}

			.flipper {
				justify-content: center;
			}

			&__heading {
				display: flex;
				align-items: center;
				border-bottom: 1px solid $border-line-color;
				padding: 10px;
				justify-content: space-around;
				flex-direction: row;
				flex-wrap: wrap;

				@media (min-width: $screen-sm) {
					flex-wrap: initial;
				}

				&__item {
					margin-bottom: 0;
					font-size: 20px;
					padding: 0px 15px;
					text-align: center;

					@media (min-width: $screen-sm) {
						padding: 0px;
					}

					@media (min-width: $screen-md) {
						width: 33.33333%;
					}

					&.\--floor-layouts, &.\--facade {
						display: none;

						@media (min-width: $screen-md) {
							display: block;
						}
					}

					&.\--floor-layouts {
						display: flex;

						li {
							font-size: 18px;

							@media (min-width: $screen-md) {
								font-size: 20px;
							}
						}
					}
				}
			}

			&__content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px;
				flex-direction: column-reverse;
				gap: 20px;
				
				@media (min-width: $screen-md) {
					padding: 20px 30px;
					flex-direction: row;
					gap: unset;
					align-items: flex-start;
				}

				& > div {

					@media (min-width: $screen-md) {
						width: 33.33333%;
					}
				}
			}

			&__thumbnail {
				@media (min-width: $screen-md) {
					padding-left: 25px;
				}

				&__facade-name {
					text-align: center;
				}

				&__img {
					object-fit: cover;
				}
			}

			&__details {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				&-item {
					width: 50%;

					// span {
					// 	display: none;

					// 	&.active {
					// 		display: block;
					// 	}
					// }
				}
			}

			&__floor-layout {
				text-align: center;		
				position: relative;
				width: 100%;

				@media (min-width: $screen-md) {
					width: 33.33333%;
					padding: 0px 20px;
				}

				img {
					max-height: 250px;
				}

				&__flipper {
					@media (min-width: $screen-md) {
						display: none;
					}
				}
			}

			&__btn {
				display: flex;
				flex-direction: column;
				margin-top: 30px;
				margin-bottom: 10px;

				@media (min-width: $screen-md) {
					margin-top: 50px;
				}

				.btn {
					padding: 12px 15px!important;
					min-width: 180px;

					@media (min-width: $screen-xl) {
						padding: 12px 25px!important;
					}

					&:not(:last-child) {
						margin-bottom: 10px;
						
						@media (min-width: $screen-lg) {
							margin-bottom: 0;
							margin-right: 10px;	
						}
					}


					&.\--inclusions {
						@include button-primary;
						color: white!important;
					}
				}
			}
		}
	}
}

.section-filter {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 12%;
				padding-left: 12%;
			}

		}
	}
	.column {
		background: rgba(182,196,186,.2);
		padding: 2rem 0px;

		@media (min-width: $screen-sm) {
			padding: 4rem 0px;
		}

		&__heading {
			font-family: $secondary-font-bold;
			font-size: 20px;
			color: $primary-text-color !important;
		}
	}
}

.section-img-overlap {
	.section {
		&__action {
			position: relative;
			z-index: 2;
		}

		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 10%;
				padding-left: 10%;
			}
		}
	}
	.columns {
		position: relative;
		z-index: 1;
		
		@media (min-width: $screen-sm) {
			&:after {
				content: " ";
				background-color: rgba(182,196,186,0.2);
				width: 75%;
				position: absolute;
				height: 100%;
				display: block;
			}
		}
	}
	.column {
		z-index: 3;

		&:nth-child(1) {
			// background-color: rgba(182,196,186,0.2);

			@media (min-width: $screen-sm) {
				padding: 2.5rem 0rem 2.5rem 3.75rem;
				text-align: left;
			}

			@media (min-width: $screen-md) {
				// padding: 5rem 6rem;
				padding: 5rem 0rem 5rem 6.75rem;

				.block-content {
					// width: 70%;
				}
			}
		}

		&:nth-child(2) {
			z-index: 1;
			margin-top: 30px;

			@media (min-width: $screen-sm) {
				// position: absolute;
				// width: auto;
				// right: 5%;
				// height: 100%;

				padding-left: 4rem;
    			display: flex;

				.block-content {
					display: flex;
					height: 100%;
					align-items: center;
				}
			}
	
			@media (min-width: $screen-md) {
				margin-top: 0px;

				.block-content {
					padding-right: 60px;
				}
			}
		}
	}

}

// Call to Action section
.section-cta {
	.section {
		&__background {
			filter: grayscale(1);
			&__overlay-color {
				mix-blend-mode: multiply;
			}
		}
	}

	.column {
		&__content, &__heading {
			color: #fff;
		}

		&__content {
			@media (min-width: $screen-sm) {
				width: 80%;
    			margin: auto;
			}
			@media (min-width: $screen-md) {
				width: 60%;
			}
			@media (min-width: $screen-lg) {
				width: 50%;
			}
			@media (min-width: $screen-xxl) {
				width: 45%;
			}
			.section {
				&__action {
					display: inline-flex;
					justify-content: center;
					flex-direction: column;

					@media (min-width: $screen-md) {
						flex-direction: row;
					}
					a {
						&.btn {
							&:nth-child(1) {
								margin-right: 0px;
								margin-bottom: 15px;

								@media (min-width: $screen-md) {
									margin-right: 15px;
									margin-bottom: 0px;
								}
							}

							&.\--secondary {
								@media (min-width: $screen-xs) {
									padding: 12px 35px;
								}
							}

							@media (max-width: $screen-xs) {
								padding: 8px 20px;
							}
						}
					}
				}
			}
		}
	}
}

//Section Content 
.section-content {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 15%;
				padding-left: 15%;
				width: 100%;
			}
		}
	}

	.content {
		&__img {
			position: relative;
			
			&___full {
				@media (min-width: $screen-md) {
					padding-top: 1rem;
				}
			}
			@media (min-width: $screen-sm) {
				height: 100%;
			}

			@media (min-width: $screen-lg) {
				height: 100%;
			}

			&__main {
    			object-fit: cover;

				@media (max-width: $screen-md) {
					width: 100%;
				}
				@media (min-width: $screen-lg) {
					padding-right: 5rem;
					width: 100%;
				}
			}
			&__overlay {
				position: absolute;
				width: auto;
				right: 0px;
				max-width: 80px;
				bottom: -20px;

				@media (min-width: $screen-xs) {
					max-width: 125px;
					bottom: -25px;
				}

				@media (min-width: $screen-sm) {
					right: -25px;
					max-width: 125px;
				}

				@media (min-width: $screen-lg) {
					right: 35px;
				}

				@media (min-width: $screen-xxl) {
					max-width: 150px;
				}
			}
		}
	}

	.column {
		&__heading {

			@media (min-width: $screen-sm) {
				font-size: 3.75rem;
			}
			@media (min-width: $screen-lg) {
				font-size: 4.25rem;
			}
			@media (min-width: $screen-xxl) {
				font-size: 5rem;
			}
		}

		&:nth-child(2) {
			margin-top: 30px;
			padding: 0px;

			@media (min-width: $screen-md) {
				margin-top: 0px;
			}
		}
		
	}

	&-with-map {
		.section {
			&__container {
				@media (min-width: $screen-sm) {
					padding-right: 15%;
					padding-left: 15%
				}
			}
		}
		.column {
			&:nth-child(1) {
				@media (min-width: $screen-md) {
					width: 41.66667%;
				}

				.block-content {
					@media (min-width: $screen-md) {
						width: 75%;
					}
				}
			}

			&:nth-child(2) {
				margin-top: 30px;
				padding: 0px;

				@media (min-width: $screen-md) {
					width: 58.33333%;
					margin-top: 0px;
				}
			}
		}
	}
}

.section-two_columns-image {
	.section {
		&__container {
			padding: 0px;
		}
	}
	.column {
		padding: 0px;
		&:nth-child(1) {
			p {
				margin: 0px;
			}
		}
		&:nth-child(2) {
			background-color: rgba(182, 196, 186, 0.2);
			padding: 30px;

			@media (min-width: $screen-sm) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 60px;
			}

			@media (min-width: $screen-lg) {
				padding: 60px 120px;
			}
		}

		img {
			width: 100%;
		}
	}
}