.single-home_designs {
	#download-brochure {
		.gform {
			&_fields {
				.gfield {

					@media (min-width: $screen-md) {
						margin-bottom: 0;
					}
					
					&#field_3_4 {
						margin-bottom: 0;
					}
				}
			}

			&_footer {
				input {
					width: 100%;
					@media (min-width: $screen-md) {
						width: auto;
					}
				}
			}
		}
	}
}

.download-brochure-form {
	.submitted-actions {
		display: flex !important;
		padding-top: 20px;

		> .btn {
			&:first-child {
				margin-right: 20px;
			}

			&.\--flyer {
				font-family: $secondary-font-medium;
				   color: #5b7363!important;
			}

			&.\--inclusions {
				@include button-primary;
				color: white!important;
			}
		}

	}
}

#download-brochure {
	.submitted-actions {
		display: none;
	}
}

.home-design {
	.section-inner {
		padding-top: 30px;
		padding-bottom: 40px;
		z-index: 3;

		@media (min-width: $screen-xl) {
			padding-top: 100px;
			padding-bottom: 75px;
		}
	}

	&__actions {
		margin-top: 0px;
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-bottom: 0;
		}

		.btn {
			padding: 12px 15px!important;
			margin-bottom: 10px;

			@media (min-width: $screen-xl) {
				padding: 12px 25px!important;
			}

			&:not(:last-child) {
				@media (min-width: $screen-lg) {
					margin-right: 10px;	
				}
			}


			&.\--inclusions {
				@include button-primary;
				color: white!important;
			}
		}
	}

	&__floor-layouts {
		padding: 20px;
		border: 1px solid $border-line-color;

		&__heading {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			@media (min-width: $screen-sm) {
				align-items: center;
			}

		}

		&__flipper {
			flex-wrap: wrap;

			a {
				font-size: 16px;

				@media (min-width: $screen-sm) {
					font-size: 18px;
				}
			}

			li {
				margin-bottom: 10px;

				@media (min-width: $screen-sm) {
					margin-bottom: 0px;
				}
			}
		}

		&__actions {
			display: flex;
			align-items: center;

			.btn {
				@include button-primary;
				color: white!important;

				&.\--inclusions {
					position: fixed;
					bottom: 20px;
					left: 50%;
					transform: translateX(-50%);
					width: 300px;

					@media (min-width: $screen-sm) {
						position: relative;
						bottom: 0px;
						left: auto;
						transform: initial;
						width: auto;
					}
				}
				
			}

			.flip-button {
				cursor: pointer;
				text-decoration: none;
				appearance: none;
				background: 0 0;
				border: none;
				padding: 0;
				line-height: 1;
				height: 30px;

				@media (min-width: $screen-sm) {
					margin-right: 15px;
				}

				svg {
					height: 30px;

					path {
						transition: all $transition-duration-fast linear;
					}
				}
				
				&:hover,
				&:active,
				&.active {
					svg path.inside {
						fill: $primary;
					}
				}
			}
		}

		&__images {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 30px;
		}
	}

	&__description {
		padding-top: 25px;

		ul, ol {
			padding-left: 1.5em;
		}
	}


	&__facades {
		&__navs {
			margin: 0px -5px;

			&-wrapper {
				cursor: pointer;
				padding: 0 5px;			
				overflow: hidden;
				position: relative;

				// opacity: .7;

				&:hover,
				&:active,
				&.slick-current {
					// box-shadow: 0px 2px 5px 0px $primary;

					img {
						opacity: 1;
						border-bottom: 5px solid $primary;
					}
				}

				&.\--empty {
					width: 0px !important;
					padding: 0px;
				}
			}
			
			&-image {
				transition: opacity $transition-duration-fast linear;
				opacity: .8;
				border-bottom: none;
			}
		}
	}
	
}

#facades {
	.section-inner {
		padding-top: 30px;
		padding-bottom: 40px;
		background-color: #F0F3F1;

		@media (min-width: $screen-md) {
			padding-top: 80px;
			padding-bottom: 100px;
		}
	}

	.slick-controls {
		appearance: none;
		background: none;
		border: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		cursor: pointer;
		transition: all $transition-duration-fast linear;
		transform: scale(.7);

		@media (min-width: $screen-md) {
			transform: scale(1);
		}

		&.slick-disabled {
			opacity: .7;
		}

		.arrow, .bg {
			transition: all $transition-duration-fast linear;
		}

		&:not(.slick-disabled):hover {
			.bg {
				fill: $light-primary;
			}
		}
	}

	.column__heading {
		font-family: $secondary-font-regular;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	.home-design__facades__image {
		&-wrapper {
			position: relative;
		}

		&-controls {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			width: 100%;
		}
	}

	#mainFacade {
		margin-bottom: 10px;
	}

	.column {
		&__content {
			overflow: hidden;
		}
	}

	
}

.section-home-design {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-left: 12%;
				padding-right: 12%;
			}
		}
	}
}