.page-home {
	#section-banner {
		.section-inner {
			display: flex;
			align-items: center;
		}

		.section {
			&-inner {

			}
			&__title {
				font-family: $primary-font-bold;
				font-size: 3.5rem;
			}

			&__container {
				p {
					font-family: $primary-font-medium;
					font-size: 1.2rem;
				}
			}
		}
	}
}