.section-partners {
	.section {
		&__action {
			position: relative;
			z-index: 2;
		}

		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 10%;
				padding-left: 10%;
				width: 100%;
			}
		}
	}

	.tiles {
		&__items-wrapper {
			align-items: center;
		}
		&__item-wrapper {
			padding: 25px 20px;
		}

		&__item {
			&__thumbnail {
				&__img {
					max-height: 80px;
					object-fit: contain;
				}
			}
		}
	}
}

.section-list-inclusions {
	&.\--alternate  {
		.columns {
			@media (min-width: $screen-sm) {
				flex-direction: row-reverse;
			}
		}
	}
	.columns {
		align-items: center;
	}

	.column {
		&:nth-child(1) {
			padding: 0px;

			@media (min-width: $screen-md) {
				width: 60%;

				img {
					min-height: 420px;
					object-fit: cover;
				}
			}

			p {
				margin: 0px;
			}
		}
		&:nth-child(2) {
			background-color: rgba(182,196,186,.2);
			padding: 30px;

			@media (min-width: $screen-sm) {
				padding: 40px;
			}

			@media (min-width: $screen-md) {
				width: 40%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 20px 20px 20px 40px;
			}

			@media (min-width: $screen-lg) {
    			padding: 0px 30px 0px 75px;
				height: 340px;
			}

			.column {
				&__heading {
					margin: 0px;
				}
			}
		}

		&__content {
			ul, ol {
				padding-left: 1rem;
			}
		}

		&__heading {
			padding-bottom: 15px;

			@media (min-width: $screen-sm) {
				padding-bottom: 0px;
			}

			@media (min-width: $screen-lg) {
    			font-size: 4rem;
			}
			@media (min-width: $screen-xl) {
    			font-size: 4.25rem;
			}
		}
	}
}

#inclusions--partners {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding: 0px 6%;
			}
		}
		
	}

	.tiles {
		border-top: 1px solid #cbcbcb;

		&__item {
			&-wrapper {
				padding: 20px 10px;
			}
		}
	}

	.columns {
		justify-content: center;

		@media (min-width: $screen-sm) {
			padding: 80px 80px 20px;
		}
	}
}