// Modals
.modal {
	justify-content: center;
	align-items: center;

	&.fade.popup-active {
		display: flex!important;
	}

	.close {
		@include button-close(35px);
		position: absolute;
		top: 10px;
		right: 25px;
		z-index: 1050;
	}

	&-header {
		&__text {
			margin: 0;
			font-size: 18px;
			padding-right: 35px;
    		display: block;
		}
	}
}
