.page-our-team {
	#section-gallery {
		.tiles__item-wrapper {
			padding: 0;
		}

		.section__title {
			color: white;
		}

		.section__container {
			padding-top: 10%;
		}

		.section {
			&__background {
				&__overlay-color {
					height: 70%;
				}
			}
		}
	}
}