.section-process {
	.section {
		&__container {
			@media (min-width: $screen-sm) {
				padding-right: 12%;
				padding-left: 12%;
			}
		}
	}

	.tiles {
		&__item {
			&__heading {
				font-family: "Roboto-Medium";
				font-size: 17px;
				color: $brand-primary-color;
				margin: 0px;
    			line-height: 1.4
			}

			&__description {
				font-size: 20px;

				 > p {
					 margin: 0px;
				 }
			}

			&__content {
				text-align: center;
    			padding-top: 30px;
				position: relative;
				z-index: 3;
			}

			&__thumbnail {
				max-width: 80px;
    			margin: auto;
				display: flex;
				align-items: center;
				height: 86px;

				&__img {
					object-fit: contain;
    				height: 100%;
				}
			}

			&-wrapper {
				padding: 60px 0px 20px;
				position: relative;

				.dashed-line {
					width: 40%; position: absolute; 
					border-top: $dashed-line;
					top: 103px; 
					right: -20%;
					z-index: 4;
				}

				&::before {
					content: "";
				}
				

				&:last-child {
					.dashed-line {
						display: none;
					}
				}

				&:first-child {
					&::before {
						content: none !important;
					}
				}

				&:after {
					@include bottomDashLine;
				}

				@media (min-width: $screen-md) {
					padding: 80px 0px 50px;

					&:nth-child(5n+5) {
						.dashed-line{
							@include rightDashLine;
						}
					}

					&:nth-child(5n+1) {
						&::before {
							@include leftDashLine;
						}
					}

					&:nth-child(11) {
						&::before {
							left: -50%;
							width: 70%;
						}
					}

					&:nth-last-child(-n + 4) { 
						&:after {
							border-bottom: 0px;
						}
					}

					.dashed-line {
						width: 40%; position: absolute; 
						border-top: $dashed-line;
						top: 123px; 
						right: -20%;
						z-index: 4;
					}
				}


				@media (max-width: 991px) {
					&:nth-child(3n+3) {
						.dashed-line{
							height: calc(100% - 103px);
							border-right: $dashed-line;
							border-bottom: $dashed-line;
							z-index: 1;
							width: 40%;
							background: #f0f3f1;
							position: absolute;
							right: -20%;
						}
					}
	
					&:nth-child(3n+1) {
						&::before {
							@include leftDashLine;
							height: 103px;
						}
					}

					&:nth-last-child(-n + 2) { 
						&:after {
							border-bottom: 0px;
						}
					}

					&:nth-child(13) {
						&::before {
							left: -50%;
							width: 70%;
						}
					}
				}

				@media (max-width: 767px){
					&:nth-child(3n+3) {
						.dashed-line  {
							width: 20%;
							right: 0;
						}
					}
				}

				@media (max-width: 480px) {
					width: 50%;

					&:nth-child(3n+3) {
						.dashed-line{
							width: 40%;
							right: -20%;
						}
					}

					&:nth-child(3n+1) {
						&::before {
							content: none;
						}
					}

					&:nth-child(even) {
						.dashed-line {
							height: calc(100% - 103px);
							border-right: $dashed-line;
							border-bottom: $dashed-line;
							z-index: 1;
							background: #f0f3f1;
							position: absolute;

							right: -20%;
							width: 20%;
							right: 0px;
						}
					}

					&:nth-child(odd) {
						.dashed-line {
							height: auto;
							border-right: 0px;
							border-bottom: 0px;
							background: none;
						}

						&::before {
							content: "";
							@include leftDashLine;
							left: 0px;
							width: 25%;
							height: 103px;
						}
					}
				}

			}

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;	
		}
	}
}