.section-full-banner {
	.section {
		&__container {
			padding: 0px;
		}
	}
	.column {
		&__icon {
			&__img {
				width: 100%;
			}
		}
		&__content {
			padding: 30px 15px;

			@media (min-width: $screen-sm) {
				padding-top: 40px;
				width: 60%;
				margin: auto;
			}
		}
	}
}

#promotions--form {
	.column {
		margin: auto;
	}
	.gfield {
		&_label {
			display: block;
			font-weight: normal;
			font-family: $secondary-font-regular;
		}

		input, select {
			height: 45px;
			min-height: 100%;
		} 

		.ginput_container_select {
			&::before {
				height: 45px;
				width: 45px;
			}

			&::after {
				right: 15px;
			}
		}
	}
	.gform_wrapper {
		padding-top: 35px;
	}

	.gform_footer {
		text-align: center;

		.gform_button {
			padding: 12px 60px;
		}
	}

	.gform_confirmation_message {
		padding-top: 20px;
	}
}

#promotions--terms {
	.section {
		&__container {
			border-top: 1px solid #b5b5b5;
			padding-top: 60px;
			margin: 0px 6%;
		}
	}
}

#promotions--content {
	.columns {
		.column:first-child {
			.column__content,
			.column__content p, 
			.column__content img {
				height: 100%;
			}

			.column__content img {
				object-fit: cover;
			}
		}
	}
}

// #download-brochure {
// 	.gfield_label {
// 		display: block;
// 		font-weight: 400;
// 		font-family: $secondary-font-regular;
// 	}
// }