
// Generic Sections
.section {
	// &.\--reverse-columns-desktop {
	// 	.columns {
	// 		flex-direction: row-reverse;
	// 	}
	// }

	// &.section-hero-image-underlay {
	// 	.column__content {
	// 		img {
	// 			box-shadow: 20px 23px #ffffff;
	// 			margin-bottom: 20px;
	// 			margin-right: 23px;
	// 		}
	// 	}
	// }

	.section__background {
		z-index: -2;

		&__video,
		&__overlay-color {
			z-index: -1;
		}

		&__video {
			pointer-events: none;

			&.\--embed {
				.section__background__video__player {
					display: none;
				}
	
				&.\--show {
					.section__background__video__player {
						display: block;
					}
				}
			}

			&__player {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
			}
		}
	}

	.section-inner {
		z-index: 2;
		position: relative;

		// Themes
		&.\--th-df {
			.section__title,
			.column__heading {
				color: $brand-primary-color;
			}
		}

		&.\--th-st {
			.section__title {
				color: #fff;
			}
	
			.section__action__btn {
				@include button-primary;
			}
		}

		.section__action__btn {
			@include button-primary;
			text-transform: uppercase;
			width: auto;
    		display: inline-block;
			font-family: 'Roboto-Medium';
		}
	}

	

	.section__intro {
		margin-bottom: 60px;

		&__icon {
			max-width: 47px;
			display: inline-block;
			margin-bottom: 15px;

			@media(min-width: $screen-md) {
				max-width: 62px;
			}
			
			&__img {
				@media(min-width: $screen-md) {
					@include image-crisp;
				}
				max-width: 100%;
			}
		}
	}

	.columns {
		&:before,
		&:after {
			display: none;
		}

		// .column {
		// 	&__icon {
		// 		max-width: 47px;
		// 		display: inline-block;
		// 		margin-bottom: 15px;
	
		// 		@media(min-width: $screen-md) {
		// 			max-width: 62px;
		// 		}
				
		// 		&__img {
		// 			@media(min-width: $screen-md) {
		// 				@include image-crisp;
		// 			}
		// 			max-width: 100%;
		// 		}
		// 	}
		// }
	}

	.section__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

// Tiles
.section-tiles {
	// &.\--equal-columns {
	// 	.columns {
	// 		.tiles {
	// 			&__item-wrapper {
	// 				flex-grow: 1;
	// 				flex-basis: 0;
	// 				width: auto;
	// 			}
	// 		}
	// 	}
	// }

	// .tiles {
	// 	&__item {
	// 		&.\--logo  {
	// 			text-align: center;
				
	// 			.tiles__item__thumbnail {
	// 				display: flex;
	// 				align-items: center;
	// 				justify-content: center;

	// 				&__img {
	// 					width: auto;
	// 					max-width: 100%;
	// 				}
	// 			}
				
	// 		}
	// 	}
	// }
}

// .section-page_banner {
// 	.section {
// 		&__action {
// 			&__btn {
// 				width: auto;
// 				display: inline-block;
// 			}
// 		}
// 	}
// }

// Slider Tiles
// .tiles-slider {
// 	.section__container {
// 		&:before,
// 		&:after {
// 			display: none;
// 		}
// 	}
// 	.tiles__items-wrapper {
// 		margin-right: 0;
// 		margin-left: 0;
// 		z-index: 2;
// 		display: block;
// 		min-width: 0px;
// 		outline: 0;

// 		&:active,
// 		&:focus,
// 		&:active:focus {
// 			outline: 0;
// 		}

// 		&:before,
// 		&:after {
// 			display: none;
// 		}

// 		.tiles__item {
// 			&-wrapper {
// 				width: 100%;
				
// 				&:not(.slick-slide) {
// 					float: none;
// 				}
// 			}

// 			&__content {
// 				padding: 20px;
// 			}
// 		}
// 	}

// 	.slick-initialized .slick-slide {
// 		display: flex;
// 		flex-direction: column;
// 		outline: 0;

// 		&:active,
// 		&:focus,
// 		&:active:focus {
// 			outline: 0;
// 		}
// 	}

// }

.section__title,
.tiles__item__heading,
.column__heading {
	display: block;
	font-size: 3.25rem;
	
	@media (min-width: $screen-sm) {
		font-size: 3.75rem;
	}
	@media (min-width: $screen-lg) {
		font-size: 4.25rem;
	}
	@media (min-width: $screen-xxl) {
		font-size: 5rem;
	}
}