
// Generic Sections
.section {
	.section__background {
		z-index: -2;

		&__video,
		&__overlay-color {
			z-index: -1;
		}

		&__video {
			pointer-events: none;

			&.\--embed {
				.section__background__video__player {
					display: none;
				}
	
				&.\--show {
					.section__background__video__player {
						display: block;
					}
				}
			}

			&__player {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
			}
		}
	}

	.section-inner {
		z-index: 2;
		position: relative;

		// Themes
		&.\--th-df {
			.section__title,
			.column__heading {
				color: $brand-primary-color;
			}
		}

		&.\--th-st {
			.section__title {
				color: #fff;
			}
	
			.section__action__btn {
				@include button-primary;
			}
		}

		.section__action__btn {
			@include button-primary;
			text-transform: uppercase;
			width: auto;
    		display: inline-block;
			font-family: 'Roboto-Medium';
		}
	}

	

	.section__intro {
		margin-bottom: 60px;

		&__icon {
			max-width: 47px;
			display: inline-block;
			margin-bottom: 15px;

			@media(min-width: $screen-md) {
				max-width: 62px;
			}
			
			&__img {
				@media(min-width: $screen-md) {
					@include image-crisp;
				}
				max-width: 100%;
			}
		}
	}

	.columns {
		&:before,
		&:after {
			display: none;
		}
	}

	.section__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.section__title,
.tiles__item__heading,
.column__heading {
	display: block;
}