.tiles {

	&__item {
		background-color: white;
		padding: 40px 30px 20px;
		height: 100%;
		box-shadow: $box-shadow;
    	border-radius: 0.35rem;
		transition: all $transition-duration ease-in;
		$parent: '.tiles__item';

		&:hover {
			box-shadow: $box-shadow-hover;
		}

		&-wrapper {
			padding: 20px 40px;
			color: $text-primary-color;
		}
		&__details  {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			&-item {
				font-family: $secondary-font-regular;
				color: $brand-primary-color;
				padding: .5rem 0px;
				width: 50%;

				@media (min-width: $screen-xs) {
					width: 33.3333%;
				}

				@media (min-width: $screen-md) {
					width: 50%;
				}

				@media (min-width: $screen-lg) {
					width: 33.3333%;
				}

				display: flex;
				flex-direction: row;
				align-items: center;

				.icon {
					max-width: 35px;
					margin-right: 1rem;
				}

				span {
					font-size: 14px;
					@media (min-width: $screen-xxl) {
						font-size: 1rem;
					}
				}
			}
		}

		&__thumbnail {
			&__img {
				max-width: 250px!important;
				object-fit: cover;
				text-align: center;
				margin: auto;
				display: block;
				margin-bottom: 1.5rem;
			}
		}

		&__btn {
			margin-top: 1rem;

			.btn {
				font-family: $secondary-font-medium;
				color: $brand-primary-color !important;

				&:hover {
					color: #fff !important;
				}
			}
		}

		&__heading {
			font-family: $secondary-font-bold;
			font-size: 18px;
			text-align: center;

			margin: 0;
			margin-bottom: 10px;
		}
		&__subheading {
			font-family: $secondary-font-medium;
			font-size: 16px;
			text-align: center;

			margin: 0;
			margin-bottom: 30px;
		}

		&__description,
		&__description p {
			font-size: 14px;
		}
	}
}



.tiles {
	.\--tile-service {
		padding: 20px;

		.tiles__item {
			height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			flex-direction: column;
			gap: 20px;
			height: 100%;
			
			@media(min-width: $screen-sm) {
				flex-direction: row;
				height: auto;
			}

		}

		.tiles__item__thumbnail {
			
			@media(min-width: $screen-sm) {
				flex: 1;
			}
		}
		.tiles__item__content {

			@media(min-width: $screen-sm) {
				flex: 2;
			}
		}

		.tiles__item__heading {
			text-align: left;
		}
	}
}