// Footer

.footer {
	background-color: $footer-bg-color;
	color: $footer-text-color;
	font-family: $primary-font-regular;
	display: table-row;
	height: 376px;

	@media (min-width: $screen-sm) {
		height: 325px;
	}

	@media (min-width: $screen-md) {
		height: 300px;
	}

	&__logo {
		text-align: center;

		@media (min-width: $screen-sm) {
			text-align: left;
		}

		&__img {
			max-height: 150px;
		}

		.logo:hover {
			border-bottom: none;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;

		@media (min-width: $screen-sm) {
			flex-direction: row;
			align-items: flex-start;
			width: 100%;
			padding-left: 6%;
			padding-right: 6%;
		}
	}

	&__columns {

		&.\--top {
			padding: 40px 0;

			@media (min-width: $screen-md) {
				padding: 4.5rem 0px;
				.\--column-1,
				.\--column-2,
				.\--column-3 {
					width: 33.33333%;
				}
				
			}

			.\--column-1,
			.\--column-2 {
				margin-bottom: 3rem;

				@media (min-width: $screen-md) {
					margin-bottom: 0;
				}
			}
		}
	}

	.wp-block-heading {
		font-size: 20px;
		font-family: Montserrat-SemiBold;
	}

	.block-socials {
		justify-content: flex-end;

		&__item {
			a {
				width: 26px;
				height: 26px;
				font-size: 18px;
				color: #141916;
			}
		}
	}

	&__accounts-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0;
		margin: 0;

		@media (min-width: $screen-sm) {
			padding-left: 20px;
		}

		&_item {
			a {
				width: 26px;
				height: 26px;
				font-size: 20px;
				color: $primary-text-color;
			}
		}
	}
}