// Global CSS

// all elements
* {
    //outline: none;
    outline: none !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
	font-family: $secondary-font-regular;
	font-size: $base-font-size;
	color: $base-color;
	height: 100%;
	opacity: 1;
	

	&.admin-bar {
		&.\--scroll {
			@media(max-width: 600px) {
				header {
					top: 0px;
				}
			}
		}
	}
}

a {
	color: $primary;
	transition: all $transition-duration ease-in-out;
	text-decoration: none;

	&:hover {
		color: $primary;
		border-bottom: 1px solid $primary;
		text-decoration: none;
	}
}

p {
	font-family: $secondary-font-regular;
	line-height: 1.6;
}

// Images
svg,
img {
	max-width: 100%;
	height: auto;
}

// Layout
.layout {
	&__content {
		padding-top: $header-height-mobile;
		
		@media (min-width: $screen-xs) {
			padding-top: 80px;
		}

		@media (min-width: $screen-md) {
			padding-top: $header-height;
		}
	}

	&__site-wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}
}
