header {
	background-color: $primary;
	padding: 0 !important;
	z-index: 1011;
	transition: all $transition-duration-fast ease-in-out;

	.btn {
		&__contact {
			padding: 5px 10px!important;
    		font-size: 12px !important;

			@media (min-width: $screen-xs) {
				padding: 6px 14px !important;
				font-size: 14px !important;
			}

			@media(min-width: $screen-xxl) {
				font-size: $button-font-size !important;
			}
		
		}
	}

	.layout__header {
		&__container {
			@media (min-width: $screen-md) {
				padding-left: 15%;
    			padding-right: 15%;
				width: 100%;
			}
		}
		&__sections {
			// display: flex;
			// align-items: stretch;
			// justify-content: space-evenly;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;

			&.\--top {
				height: $header-height-mobile;
				justify-content: flex-end;

				@media (min-width: $screen-xs) {
					height: 100px;
				}

				@media (min-width: $screen-md) {
					height: 100px;
					align-items: center;
					justify-content: space-between;
				}
			}

			&__item {
				transition: 0.35s opacity ease-in;

				@media (max-width: $screen-md) {
					align-items: center;
					display: flex;
				}

				&.\--logo {
					@media (max-width: $screen-md) {
						order: 1;
						position: absolute;
    					left: 0;
						height: 100%;
					}
				}

				&.\--menu {
					margin-left: auto;
					display: none;

					@media (min-width: $screen-sm) {
						display: flex;
					}

					ul.menu {

						a {
							color: #fff;

							&:is(:hover, :active, :focus, :focus-visible, :focus-within) {
								border-bottom: none;
								color: darken($accent-contrast, 10%)
							}
						}
					}
				}

				&.\--right__burger-menu {
					order: 3;
					margin-left: 20px;
					@media (min-width: $screen-md) {
						display: none;
					}
				}
				
				&.\--action {
					margin-left: 1.85rem;
					@media (max-width: $screen-md) {
						order: 2;
						// display: none;
					}

					.btn {
						border-bottom: none;
						font-family: $secondary-font-bold;
					}
					&__burger-menu {
						transition: 0.35s border-left ease-in;
						@media (max-width: $screen-md) {
							order: 4;
							padding-left: 1rem;
							// border-left: 1px solid rgba(112,112,112,0.25);
							// border-left: 0.25px solid $primary-gray-color;
						}
					}
				}
			}

		}
	}

	.logo {
		
		text-decoration: none;

		&:hover {
			text-decoration: none;
			border-bottom: none;
		}

		@media (min-width: $screen-sm) {
			max-height: 40px;
			padding-top: 0px;
		}

		@media (min-width: $screen-md) {
			max-height: 100px;
		}
		
		img {
			max-height: 100%;
			height: 100%;
			max-height: 70px;

			@media (min-width: $screen-xs) {
				max-width: 100%;
				width: auto;
				height: auto;
			}

			@media (min-width: $screen-md) {
				max-height: 90px;
			}
			
		}
	}

	.btn-burger {
		padding: 0px;

		> span {
			background-color: $primary-gray-color;
			width: 25px;

			&:not(:last-child) {
				margin-bottom: 6px;
			}
			@media (min-width: $screen-sm) {
				width: 30px;
				display: none;

				&:not(:last-child) {
					margin-bottom: 7px;
				}
			}
			
			
		}
	}
}

.--mobile-menu-active {
	header {
		.--action {
			opacity: 0;
		}
	}
}