// Main import files
@import 'vendors';
@import 'variables';
@import 'mixins';
// @import 'animations';

// Components
@import 'components/fonts';
@import 'components/buttons';
@import 'components/forms';
@import 'components/typography';
@import 'components/main-menu';


// Layouts
@import 'layouts/global';
@import 'layouts/header';
@import 'layouts/mobile-menu';
@import 'layouts/footer';

// Modules
// @import 'modules/table';
@import 'modules/blocks';
@import 'modules/flexi';
@import 'modules/slider';
@import 'modules/tiles';

// Pages
@import 'pages/global';
@import 'pages/home';
@import 'pages/contact-us';
@import 'pages/our-team';
